/* .mainRight{
   width: 60%; 
   margin: 0 auto;
   margin-left: 40%;
}

.calend {
    border-color: none;
    background-color: aliceblue;
    justify-content: center;
    box-shadow: inset;
}

.card img{
    height: 90%;
}
 */

 .mainRight {
    position: absolute;
    width: 53%;
    /* margin: 0 auto; */
    margin-left: 45%;
    /* margin: 0 77%; */
    border-radius: 10% 0px 0px 10%;
    background-color: aliceblue;
  }
  .calend {
    border-color: none;
    background-color: aliceblue;
    justify-content: center;
    box-shadow: inset;
    
  }
  .card {
    margin-left: 5px !important;
    margin-top: 2px !important;
    background-color: transparent;
  }
  
  .card img {
    height: 80%;
  }
  
  .timeline {
    /* font-weight: 400; */
    font-size: large;
  }
  .teach-name {
    margin-bottom: -2px;
    margin-left: -150px !important;
  }
  
  h6{
    /* border: 1px solid red; */
    /* margin-left: 20px; */
    padding: 0;
    width: 40%;
    font-weight: bold;
  }

  @media only screen and (max-width: 840px){
    .displaytext{
      display: none;
    }

    #displayCol{
      display: none;
      background-color: transparent;
    }
    .name{
      display: none;
    }
    .middle-container{
      display: none;
    }
  }

  @media only screen and (max-width: 720px) {
    /* .right-bar{
      background-color: black;
      width: fit-content;
    } */
    /* .head-card{
      width: 90%;
    } */
    .mainRight{
      width: 60%;
      margin-left: 37%;
      /* padding-bottom: 10%; */
    }
    .calend{
      width: 100%;
      padding-right: 6%;
    }
    
  }
  
  #img-profil{
    border-radius: 50%;
    width: 20%;
  }
  /* .calendar{
    background-color: blue;
  } */

.cards {
    background-color: transparent;
    width: 280px;
    border-radius: 33px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    padding: 0.5rem !important;
    margin-left:5%
}

.cardsGroup{
  background-color: transparent;
  width: 160px;
  border-radius: 33px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* padding: 0.5rem !important; */
  margin-left:5%;
  /* margin-right:200px; */
}

.top-container {
    display: flex;
    align-items: center
}

.profile-image {
    border-radius: 10px;
    border: 2px solid #5957f9
}

.name {
    font-size: 15px;
    font-weight: bold;
    color: #272727;
    position: relative;
    top: 8px
}

.mail {
    font-size: 14px;
    color: grey;
    position: relative;
    top: 2px
}

.middle-container {
    background-color: #eee;
    border-radius: 12px;
    padding: 0 auto;
}


.dollar-div {
    background-color: #5957f9;
    padding: 12px;
    border-radius: 10px
}

.round-div {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.dollar {
    font-size: 16px !important;
    color: #5957f9 !important;
    font-weight: bold !important
}

.current-balance {
    font-size: 15px;
    color: #272727;
    font-weight: bold
}

.amount {
    color: #5957f9;
    font-size: 16px;
    font-weight: bold
}

.dollar-sign {
    font-size: 16px;
    color: #272727;
    font-weight: bold
}

.recent-border {
    border-left: 2px solid #5957f9;
    display: flex;
    align-items: center
}



.recent-orders {
    font-size: 16px;
    font-weight: 700;
    color: #5957f9;
    margin-left: 2px
}

.wishlist {
    font-size: 16px;
    font-weight: 700;
    color: #272727
}



.fashion-studio {
    font-size: 16px;
    font-weight: 700;
    color: #272727
}

