@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:  #2e3ab0;
  height: 400px;
  width: 400px;
}

.containers {
  width: 90%;
  background: #d4d5e0;
  display: flex;
  box-shadow: 3px 5px 20px 2px rgba(0,0,0,0.4);
}

.left {
  width: 66%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.photo {
  position: relative;
  cursor: pointer;
}

.photo img {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

.photo
 .circle {
    transform: rotate(360deg);
    transition: transform 2s ease-in-out;
    animation: circlespin 1s ease-in-out;
}
    
.photo .circle2 {
    animation: circlespin 1s ease-in-out;
}


.circle {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 108px;
  height: 108px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: black transparent black black;
  animation: circlespinout 1s ease-in-out;
}

.circle2 {
  @extend .circle;
  top: -10px;
  left:-10px;
  width: 120px;
  height: 120px;
  border-color: black black black transparent;
}

.title__contain {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.3em;
  font-weight: 500;
  margin: 10px auto 10px;
}

.butn {
  border: 1px solid black;
  height: 30px;
  width: 150px;
  border-radius: 15px;
  margin: 5px 0;
  cursor: pointer;
}

button :hover {
    background: #3c9b7e;
}

.title {
  font-size: 0.6em;
  font-weight: 300;
}

.right {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.rightbox {
  background: #7479ac ;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
}

.rightbox :nth-child(2) {
    margin: 1px 0;
}

.rightbox :hover {
    background: #5b9372;
}

@keyframes circlespin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circlespinout {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}