.mains{
    background-color: blue;
    float: left;
    margin-left: 250px;
    width: 50%;
}

.scroll {
    max-height: 100px;
    overflow-y: auto;
}

.mainSearch{
	background-color: #ccccff;
	display: flex;
	justify-content: center;
	align-items: center; 
	/* width: 100vw; */
	/* height: 100vh; */
}
.search-container{
    background-color: #6633ff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* width: 100px; */
    height: 2rem;
    border-radius: 50px;
    /* box-shadow: -2px 10px 20px #cc99ff; */
    transition: width 1s ease;
    cursor:pointer;
}

.cursor{
	display: none;
}
.cursor.active{
	display:block;
}
.cursor	i {
	display: none;
	position: absolute;
    width: .4rem;
    height: 2.3rem;
    background-color: white;
    animation-name: blink;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    opacity: 1;
    margin-top: -17px;
    margin-left: 2.8rem;
}
@keyframes blink {
	0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*input */
input.rq-form-element{
	height: 2rem;
    background-color: transparent;
    position: absolute;
    margin: -1rem 2.8rem;
    border: none;
    color: white;
    font-size: xx-large;
        letter-spacing: .3rem;
    text-transform: uppercase;
    font-variant: unicase;
}
input:focus{
    outline: none;
}
.search-container.active{
	width: 500px;
}
.icon{
    width: 2rem;
    height: 2rem;
    margin-left:2rem;
    position: relative;
    overflow: hidden;
    transform: rotateY(0deg);    
    transition: transform 1s ease;
}
.icon.active{
/*	transform:rotateY(278deg);
*/	display:none;
}
.icon:hover{
	transform: rotateY(270deg);
}

.circle{
	width: 1rem;
    height: 1rem;
    border-radius: 100%;
    border: solid .2rem #ffffff;
    position: absolute;
    
}

.stick{
	width: 0.2rem;
    height: 1rem;
    border-radius: 10px;
    background: #ffff;
    position: absolute;
    margin-top: .88rem;
    margin-left: 1.39rem;
    transform: rotate(-48deg);
	
}


