.mains{
    background-color: rgb(242, 242, 243);
    float: left;
    margin-left: 220px;
    width: 45%;
}
.card{
    left:5%;
    /* height: fit-content; */
    border-radius: 2%;
}
.card img{
    border-radius: 10%;
    margin: 2%;
    width: 40%;
    float: left;
    height: 80%;
}

.card .height{
    height: 10%;
}

@media screen and (max-width: 924px)
{
   .mains
    {
        color: red; 
        background-color: black;
        margin-left: 150px;
    }
    .searchBar{
    margin-left: 50px;
    width: 10%;
    }
}
h4{
    margin-left: 4.5%;
}

.search-box{
    width: 70%;
    position: relative;
    display: flex;
    left:5%;
    /* top:40% */
    margin-top:2%;
  }
  .search-input{
    width: 100%;
    padding: 10px;
    border: 1px solid #111d5e;
    border-radius:10px 0 0 10px ;
    border-right: none;
    outline: none;
    font-size: 15px;
    color: tomato;
    background: none;
  }
  .search-button{
    text-align: center;
    height: 51px;
    width: 40px;
    outline: none;
    cursor: pointer;
    border: 1px solid #111d5e;
    border-radius: 0 10px 10px 0 ;
    border-left: none;
    background: none;
    font-size: 20px;
    border-left: 4px solid #111d5e;
   
  }





