.infoPostion{
    /* margin-left:18% */
  }

  .prof{
      width: 50%;
      margin: 0 auto;
  }

  .sweetRow{
      /* margin-left: 15%; */
     
  }

  /* @media screen and (max-width: 700px) {
    .prof{
        width: 70%;
    }
  } */