.pos{
    margin: 0% 0 0 0;
    border: 1px red solid;
    padding: 0;
}


.cardsGroup{
    background-color: transparent;
    width: 100%;
    border-radius: 33px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* padding: 0.5rem !important; */
    /* margin-right:200px; */
    margin-top:20%;
    display: block;
}

.profil{
    width: 15%;
}

.profils{
    width: 4.7rem;
    height: 65%
}

#imgMain{
    width: 20%;
    border-radius:13%;
    padding: 0;
    margin: 0;
    border: 1px solid rgb(146, 142, 133)
}

#imgSecond{
    border-radius: 13%;
    /* border: 1px solid red; */
    margin: 2%;
    width: 17%;
}



#colName{
    width: 15%;
    margin-left: -4%;
    margin-right: 2%;
}

#colNames{
    width: 15%;
    margin: 0.4%;
}

.grid-container {
    display:grid;
    grid-template-columns: auto auto auto;
    
    padding:0%;
    margin: 12% 0 0 0;
    /* margin-left: 7%; */
    /* border: red 1px solid; */
  }
  
  .grid-container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    /* padding: 20px 0; */
    /* font-size: 30px; */
    width: 85%;
  }
  
  .item1 {
    grid-column-start: 2;
    grid-column-end: 4;
    /* background-color: blue; */
    /* border-radius: 20%; */
    /* padding-bottom: 1%; */
    /* position: relative; */
    margin: 0 0 0 20px;
    padding: 0;

  }


@media screen and (max-width: 804px){
    .item1{
        margin: 1%;
        width: 100%;
    }
    
}

@media screen and (max-width: 904px){
    
    #imgSecond{
        display: none;
    }
}
#fa{
    color: yellow; 
  }