.archive{
    width: 48%;
    /* padding: 0 auto; */
    margin:0 auto;
}

#imgArchive{
    padding-left: 7%;
    border-radius: 50%;
}

@media screen and (max-width: 700px){
    /* .archive{
      width: 65%;
      margin-left: 22%;
    } */
/* 
#imgArchive{
    padding-left: 16%;
    border-radius: 50%;
} */
    .tab-content {
        margin: 0 auto;
    }

    
}

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

.tab-content {
    margin: 0 auto;
    /* padding: 8% */
}

.card{
    margin-right: 10%;
}

.card-body{
    margin-left: 10%;
    padding: 5%;
}

h3{
    border-bottom: 1px cornflowerblue solid;
   
}

.fa{
    color: white;
    font-weight: bold;
}